.lampa {
    width: 50px;
    height: 50px;
    border:1px solid gray;
    border-radius:50%;
}
.fel{
    background-color:orange
}
.le{
    background-color: rgb(56, 130, 56);
}

.tartalom {
    display:grid;
    grid-template-columns: 60px 60px 60px;
}